html {
  -webkit-app-region: drag
}

button, input {
  -webkit-app-region: no-drag;
}

#root {
  margin: 30px 20px;
}

#done-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#logout-button {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
